.contact11-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-max-width {
  align-self: center;
}
 
.contact11-section-title {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.contact11-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-content2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact11-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-contact-info1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-text13 {
  align-self: flex-start;
  text-align: center;
}
 
.contact11-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-contact-info2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-text15 {
  align-self: flex-start;
  text-align: center;
}
 
.contact11-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-icon5 {
  width: 50px;
  height: 51px;
}
 
.contact11-contact-info3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-text17 {
  align-self: flex-start;
  text-align: center;
}
 
.contact11-content7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-contact-info4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-text20 {
  align-self: flex-start;
  text-align: center;
}
 
.contact11-iframe {
  height: 664px;
}
 
.contact11-fragment10 {
  display: contents;
}
 
.contact11-text22 {
  display: inline-block;
}
 
.contact11-fragment11 {
  display: contents;
}
 
.contact11-text23 {
  display: inline-block;
}
 
.contact11-fragment12 {
  display: contents;
}
 
.contact11-text24 {
  display: inline-block;
}
 
.contact11-fragment13 {
  display: contents;
}
 
.contact11-text25 {
  display: inline-block;
}
 
.contact11-fragment14 {
  display: contents;
}
 
.contact11-text26 {
  display: inline-block;
}
 
.contact11-fragment15 {
  display: contents;
}
 
.contact11-text27 {
  display: inline-block;
}
 
.contact11-fragment16 {
  display: contents;
}
 
.contact11-text28 {
  display: inline-block;
}
 
.contact11-fragment17 {
  display: contents;
}
 
.contact11-text29 {
  display: inline-block;
}
 
.contact11-fragment18 {
  display: contents;
}
 
.contact11-text30 {
  display: inline-block;
}
 
.contact11-fragment19 {
  display: contents;
}
 
.contact11-text31 {
  display: inline-block;
}
 
.contact11-fragment20 {
  display: contents;
}
 
.contact11-text32 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact11-content2 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact11-container {
    width: auto;
  }
}
