.documenti-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.documenti-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.documenti-content {
  align-self: stretch;
  align-items: flex-start;
}
 
.documenti-ul {
  align-items: flex-start;
}
 
.documenti-li1 {
  font-family: "Aptos";
}
 
.documenti-heading1 {
  align-self: flex-start;
}
 
.documenti-heading2 {
  font-family: "Aptos";
}
 
.documenti-content2 {
  font-family: "Aptos";
}
 
.documenti-heading3 {
  font-family: "Aptos";
}
 
.documenti-content3 {
  font-family: "Aptos";
}
 
.documenti-heading4 {
  font-family: "Aptos";
}
 
.documenti-content4 {
  font-family: "Aptos";
}
 
.documenti-fragment1 {
  display: contents;
}
 
.documenti-text10 {
  display: inline-block;
}
 
.documenti-fragment2 {
  display: contents;
}
 
.documenti-text11 {
  display: inline-block;
}
 
.documenti-fragment3 {
  display: contents;
}
 
.documenti-text12 {
  display: inline-block;
}
 
.documenti-fragment4 {
  display: contents;
}
 
.documenti-text13 {
  display: inline-block;
}
 
.documenti-fragment5 {
  display: contents;
}
 
.documenti-text23 {
  display: inline-block;
}
 
.documenti-fragment6 {
  display: contents;
}
 
.documenti-text24 {
  display: inline-block;
}
 
.documenti-fragment7 {
  display: contents;
}
 
.documenti-text25 {
  display: inline-block;
}
 
.documenti-fragment8 {
  display: contents;
}
 
.documenti-text26 {
  display: inline-block;
}
 
.documenti-fragment9 {
  display: contents;
}
 
.documenti-text27 {
  display: inline-block;
}
@media (max-width: 768px) {
  .documenti-container {
    flex-direction: column;
    padding: 10px;
  }

  .documenti-max-width {
    max-width: 100%;
    flex-direction: column;
  }

  .documenti-content {
    align-items: center;
    text-align: center;
  }
}
