.sede-e-contatti-contact11 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.sede-e-contatti-max-width {
  display: flex;
  flex-direction: column;
}
 
.sede-e-contatti-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-direction: column;
}
 
.sede-e-contatti-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sede-e-contatti-text10 {
  font-family: "Aptos";
}
 
.sede-e-contatti-text11 {
  font-family: "Aptos";
}
 
.sede-e-contatti-content2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.sede-e-contatti-content3 {
  width: 1037px;
  align-items: stretch;
}
 
.sede-e-contatti-row1 {
  align-items: flex-start;
}
 
.sede-e-contatti-icon1 {
  width: 32px;
  height: 32px;
}
 
.sede-e-contatti-contact-info1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sede-e-contatti-text12 {
  font-family: "Aptos";
}
 
.sede-e-contatti-email1 {
  font-family: "Aptos";
}
 
.sede-e-contatti-icon3 {
  width: 55px;
  height: 34px;
}
 
.sede-e-contatti-contact-info2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sede-e-contatti-text13 {
  font-family: "Aptos";
}
 
.sede-e-contatti-email2 {
  font-family: "Aptos";
}
 
.sede-e-contatti-icon5 {
  width: 42px;
  height: 35px;
}
 
.sede-e-contatti-contact-info3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sede-e-contatti-text14 {
  font-family: "Aptos";
}
 
.sede-e-contatti-phone {
  font-family: "Aptos";
}
 
.sede-e-contatti-icon7 {
  width: 32px;
  height: 32px;
}
 
.sede-e-contatti-contact-info4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sede-e-contatti-text15 {
  font-family: "Aptos";
}
 
.sede-e-contatti-address {
  font-family: "Aptos";
}
 
.sede-e-contatti-iframe {
  width: 973px;
  height: auto;
  min-height: 450px;
  object-fit: cover;
}
 
.sede-e-contatti-fragment1 {
  display: contents;
}
 
.sede-e-contatti-text16 {
  display: inline-block;
}
 
.sede-e-contatti-fragment2 {
  display: contents;
}
 
.sede-e-contatti-text17 {
  display: inline-block;
}
 
.sede-e-contatti-fragment3 {
  display: contents;
}
 
.sede-e-contatti-text18 {
  display: inline-block;
}
 
.sede-e-contatti-fragment4 {
  display: contents;
}
 
.sede-e-contatti-text19 {
  display: inline-block;
}
 
.sede-e-contatti-fragment5 {
  display: contents;
}
 
.sede-e-contatti-text20 {
  display: inline-block;
}
 
.sede-e-contatti-fragment6 {
  display: contents;
}
 
.sede-e-contatti-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sede-e-contatti-content3 {
    width: 50%;
  }
  .sede-e-contatti-row1 {
    flex-direction: column;
  }
  .sede-e-contatti-content4 {
    width: 50%;
  }
  .sede-e-contatti-contact-info1 {
    width: 50%;
  }
  .sede-e-contatti-content5 {
    width: 50%;
  }
  .sede-e-contatti-contact-info2 {
    width: 50%;
  }
  .sede-e-contatti-content6 {
    width: 50%;
  }
  .sede-e-contatti-row2 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .sede-e-contatti-row2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .sede-e-contatti-content2 {
    flex-direction: column;
  }
  .sede-e-contatti-content3 {
    width: 100%;
  }
  .sede-e-contatti-row1 {
    flex-direction: column;
  }
  .sede-e-contatti-content4 {
    width: 100%;
  }
  .sede-e-contatti-content5 {
    width: 100%;
  }
  .sede-e-contatti-content6 {
    width: 100%;
  }
  .sede-e-contatti-row2 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}
