.team-collaborators-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.team-collaborators-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text11 {
  align-self: flex-start;
}
 
.team-collaborators-text12 {
  align-self: flex-start;
}
 
.team-collaborators-content11 {
  gap: 96px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team-collaborators-content12 {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.team-collaborators-row {
  gap: 48px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team-collaborators-card1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text13 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team-collaborators-text14 {
  align-self: flex-start;
}
 
.team-collaborators-card2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text15 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team-collaborators-text16 {
  align-self: flex-start;
}
 
.team-collaborators-card3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text17 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team-collaborators-text18 {
  align-self: flex-start;
}
 
.team-collaborators-card4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text19 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team-collaborators-text20 {
  align-self: flex-start;
}
 
.team-collaborators-card5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-title5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text21 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team-collaborators-text22 {
  align-self: flex-start;
}
 
.team-collaborators-card6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-title6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text23 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team-collaborators-text24 {
  align-self: flex-start;
}
 
.team-collaborators-card7 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-collaborators-content19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-title7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-collaborators-text25 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team-collaborators-text26 {
  align-self: flex-start;
}
 
.team-collaborators-fragment10 {
  display: contents;
}
 
.team-collaborators-text27 {
  display: inline-block;
}
 
.team-collaborators-fragment11 {
  display: contents;
}
 
.team-collaborators-text28 {
  display: inline-block;
}
 
.team-collaborators-fragment12 {
  display: contents;
}
 
.team-collaborators-text29 {
  display: inline-block;
}
 
.team-collaborators-fragment13 {
  display: contents;
}
 
.team-collaborators-text30 {
  display: inline-block;
}
 
.team-collaborators-fragment14 {
  display: contents;
}
 
.team-collaborators-text31 {
  display: inline-block;
}
 
.team-collaborators-fragment15 {
  display: contents;
}
 
.team-collaborators-text32 {
  display: inline-block;
}
 
.team-collaborators-fragment16 {
  display: contents;
}
 
.team-collaborators-text33 {
  display: inline-block;
}
 
.team-collaborators-fragment17 {
  display: contents;
}
 
.team-collaborators-text34 {
  display: inline-block;
}
 
.team-collaborators-fragment18 {
  display: contents;
}
 
.team-collaborators-text35 {
  display: inline-block;
}
 
.team-collaborators-fragment19 {
  display: contents;
}
 
.team-collaborators-text36 {
  display: inline-block;
}
 
.team-collaborators-fragment20 {
  display: contents;
}
 
.team-collaborators-text37 {
  display: inline-block;
}
 
.team-collaborators-fragment21 {
  display: contents;
}
 
.team-collaborators-text38 {
  display: inline-block;
}
 
.team-collaborators-fragment22 {
  display: contents;
}
 
.team-collaborators-text39 {
  display: inline-block;
}
 
.team-collaborators-fragment23 {
  display: contents;
}
 
.team-collaborators-text40 {
  display: inline-block;
}
 
.team-collaborators-fragment24 {
  display: contents;
}
 
.team-collaborators-text41 {
  display: inline-block;
}
 
.team-collaborators-fragment25 {
  display: contents;
}
 
.team-collaborators-text42 {
  display: inline-block;
}
 
.team-collaborators-fragment26 {
  display: contents;
}
 
.team-collaborators-text43 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .team-collaborators-row {
    align-items: center;
    flex-direction: row;
  }
}
 
@media(max-width: 767px) {
  .team-collaborators-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .team-collaborators-placeholder-image1 {
    height: 450px;
  }
  .team-collaborators-placeholder-image2 {
    height: 450px;
  }
  .team-collaborators-placeholder-image3 {
    height: 450px;
  }
  .team-collaborators-placeholder-image4 {
    height: 450px;
  }
  .team-collaborators-placeholder-image5 {
    height: 450px;
  }
  .team-collaborators-placeholder-image6 {
    height: 450px;
  }
  .team-collaborators-placeholder-image7 {
    height: 450px;
  }
}
